<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <style>
        .chat{
            background-color: rgb(41, 132, 223);
            height: 250px;
            width: 350px;
            border-radius: 12px;
            padding: 20px;

        }
        #from{
            padding: 6px;
            border-radius: 6px;
            font-family: cursive;
        }
        #msg{
            padding: 12px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            border-radius: 8px;
        }
         #to{
            padding: 6px;
            border-radius: 6px;
            font-family: cursive;
        }
        button{
             background-color: rgb(27, 111, 195);
            color: white;
            font-family: cursive;
            height: 30px;
            width: 78px;
            border-radius: 4px;
        }
    </style>
<body>
    <h2>Edit your mistakes:)</h2>
    <div class="chat">
        <form action="/chats/<%= chat._id %>?_method=PUT" method="post">
        <input type="text" name="from" id="from" value="<%= chat.from %>" required readonly> 
        <br>
        <br>
        <textarea name="newMsg" id="msg" cols="29"><%= chat.msg %></textarea>
        <br>
        <br>
        <input type="text" name="newTo" id="to" value="<%= chat.to %>" required>
        <br>
        <br>
        <button type="submit">Edit!</button>
        </form>
    </div>
</body>
</html>